.button{

    border: none;
    background-color: var(--color-primary-sub);
    padding: .5vw 1vw;
    border-radius: 10%;
    color: var(--color-primary-text);

    font-size: var(--font-s);
    font-weight: var(--font-weight-bold);

}