.addBtn {
  background-color: var(--color-add-btn);
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;

  color: white;
  font-size: var(--font-large);

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  margin-top: 2vh;
}

.addBtn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.addPopUp{
     position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    background:rgba(0,0,0,0.5);

    display:flex;
    justify-content:center;
    align-items:center;
}

.add-popup-container{
    display:flex;
    flex-direction: column;
    align-items: center;

    width: 30vw;
    height: 80vh;

    padding: 30px;

    background-color: var(--color-surface);
    border:2px solid var(--color-border) ;
    border-radius:20px ;

}

.add-popup-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.closeBtn{
    background-color: red;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;

  color: white;
  font-size: var(--font-mid);
  font-weight: 900;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  margin-top: 1vh;
  margin-left: -3vw;
}

.closeBtn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.add-form-container{
  width: 80%;
}

.add-form-container form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.add-form-container input[type="text"]{
  width: 100%;
  height: 1.5vw;
  padding: 5px;

  border: .5px solid var(--color-primary-text);
  border-radius: 12px;
  box-shadow: 2px 2px 4px inset rgba(0,0,0,0.1);
}

.add-form-container textarea{
  width: 100%;
  height: 5vw;

  border: .5px solid var(--color-primary-text);
  border-radius: 12px;
  box-shadow: 2px 2px 4px inset rgba(0,0,0,0.1);

  padding: 10px;
}