@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

  /* COLOR */

    --color-primary:#33df72;
    --color-primary-sub:#80f5ab;
    --color-primary-text:#111827;
    --color-secondary-text:#1c2436;
  
    /* FONT SIZE */
    --font-sm:.8vw;
    --font-mid:2vw;
    --font-large:3vw;

    /* FONT WEIGHT */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

body{
  margin: 0;
  font-family: Kanit;
}